/* -- universal styles -- */
html {
    font-size: 20px;
}

/* -- Body --*/

body {
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color:white;
    text-align:left;
    
  }

  .main {
    margin: 2rem;
  }

p {
        font-size: 1rem;
    }



/* -- Headings --*/

    h1{
        font-size: 1.75rem;
    }

    h2{
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }

/* --Navigation --*/

    nav {
        display:flex;
        justify-content: center;
        padding: 1rem 0.5 rem;
    }


/* --About me and coding sections --*/
    .about
    .coding  {
        display:block;

    }

/* -- Projects section --*/

    .projects {
        display: flex;
    }

/* -- Skills section --*/
    .skills {
        display: flex;
    }

/* -- Footer section --*/
    footer {
        display:flex; 
    }

/* -- --*/